PRODUCT_MICROSERVICE_HTTP_PORT=3000
PRODUCT_MICROSERVICE_TCP_PORT=3001
PRODUCT_MICROSERVICE_HOST=localhost

MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=root-password
MYSQL_USER=mysql-user
MYSQL_PASSWORD=mysql-password
MYSQL_DATABASE=ecommerce
