API_GATEWAY_URL=http://localhost
API_GATEWAY_PORT=3000

ECOMMERCE_SERVICE_HOST=localhost
ECOMMERCE_SERVICE_PORT=3001

MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=root-password
MYSQL_USER=mysql-user
MYSQL_PASSWORD=mysql-password
MYSQL_DATABASE=ecommerce
