PRODUCT_MICROSERVICE_HOST=localhost
PRODUCT_MICROSERVICE_HTTP_PORT=3000
PRODUCT_MICROSERVICE_TCP_PORT=3001
TEST_PRODUCT_MICROSERVICE_HTTP_PORT=3002
TEST_PRODUCT_MICROSERVICE_TCP_PORT=3003

MYSQL_HOST=mysql
MYSQL_ROOT_PASSWORD=root-password
MYSQL_USER=mysql-user
MYSQL_PASSWORD=mysql-password
MYSQL_DATABASE=ecommerce
TEST_MYSQL_HOST=localhost
TEST_MYSQL_DATABASE=ecommerce_test
